@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Mohit , Welcome To CI/CD Pipeline Project</h1>
    <img src="~/cicd.svg" />
</div>

